<div class="row-fluid">
  <div class="panel panel-default">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> <%= @wallet.account%>
            <%=link_to "My Wallet", wallet_path, class: 'btn btn-default btn-xs'%>
          </h1>
        </div>
        <div class="panel-body">
          <p> <%= @wallet.private_key %> </p>
          <p> <%= @wallet.active %> </p>
        </div>
      </div>
    </div>
  </div>
</div>
